

<div id="frame">
    <div>Random component (max = {{max}})</div>
    <span>{{myNumber}}</span>
    <button (click)="btnClick()">Draw</button>
    <span *ngIf="isSmallerThanHalf()" [class.green]="isSmallerThanHalf()">Smaller than half</span>
    <span *ngIf="!isSmallerThanHalf()" [class.red]="!isSmallerThanHalf()">Bigger than half</span>
  </div>
  
  <div id="frame2"> 
    <div>Random component (1-100)</div>
    <span>{{myNumber2}}</span>
    <button (click)="btnClick2()">Draw</button>
    <span *ngIf="isSmallerThanHalf2()" [class.green]="isSmallerThanHalf2()">Smaller than half</span>
    <span *ngIf="!isSmallerThanHalf2()" [class.red]="!isSmallerThanHalf2()">Bigger than half</span>
  </div>
  